body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/images/pattern.png');
    background-repeat: repeat;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.thumbnail {
    min-height: 305px;
}

.thumbnail img {
    max-width: 223px;
}
